@model PererraC.Models.Adopciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adopciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perros.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perros.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.PerroId, Model.EmpleadoId, Model.ClienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
